body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Noto Serif", Arial, "Source Han Serif SC", "Noto Serif CJK SC", "Noto Serif SC", "PingFang SC", "Heiti SC", "Noto Sans CJK SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  padding: 0 5%;
  max-width: 800px;
  margin: auto;
  word-break: break-word;
}
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  }
}
.header {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
.header .blog-title .logo {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
  font-style: italic;
}
.header .blog-title {
  height: 26.5;
}
.header .menu {
  font-family: "Noto Serif", "Noto Serif SC";
  margin: 0 auto;
  vertical-align: text-top;
}
.header .menu .menu-item {
  display: inline-block;
  padding: 0.25em;
}
.header .menu .menu-item-link {
  color: #bababa;
  text-decoration: none;
  font-size: 1em;
}
.header .menu .menu-item-link:hover {
  color: #808080;
}
@media screen and (max-width: 667px) {
  .header .menu {
    padding-left: 0;
  }
  .header .blog-title .logo {
    font-style: unset;
  }
}
@media screen and (max-width: 667px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header-mobile-layout {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-mobile-layout .blog-title .logo {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
}
.header-mobile-layout .blog-title {
  height: 26.5;
}
.header-mobile-layout .menu {
  font-family: "Noto Serif", "Noto Serif SC";
  margin: 0 auto;
  vertical-align: text-top;
  padding-left: 0;
}
.header-mobile-layout .menu .menu-item {
  display: inline-block;
  padding: 0.25em;
}
.header-mobile-layout .menu .menu-item-link {
  color: #bababa;
  text-decoration: none;
  font-size: 1em;
}
.header-mobile-layout .menu .menu-item-link:hover {
  color: #808080;
}
.post {
  padding: 1.5em 2em;
  border: 1px #ddd;
  border-style: solid none;
}
.post h1.title {
  margin: 0;
  display: flex;
  justify-content: center;
}
.post h2 {
  font-size: 1.2em;
}
.post h3,
.post h4,
.post h5,
.post h6 {
  font-size: 1.1em;
}
.post a {
  color: #808080;
  text-decoration: underline;
}
.post ul {
  padding-left: 30px;
}
.post ol {
  padding-left: 20px;
}
.post blockquote {
  border-left: 2px solid #616161;
  padding-left: 20px;
  margin: 1rem 0;
}
.post code,
.post pre {
  font-size: 16px;
  background-color: #f8f8f8;
  font-family: 'Fantasuqe Sans Mono', 'PT Mono', 'Source Code Pro', monospace;
}
.post .highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto;
}
.post .highlight table,
.post .highlight tr,
.post .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.post .highlight .gutter {
/*padding-left: 10px;
    width: 10px;*/
  display: none;
}
.post .highlight .code pre {
  padding: 1em;
  line-height: 1em;
  margin: 0;
}
.post .highlight .code pre .line {
  width: auto;
  height: 18px;
}
.post pre {
  color: #525252;
}
@media screen and (max-width: 320px) {
  .post {
    padding: 30px 16px;
  }
}
.prev_next {
  padding: 1em;
  margin: 1em;
  border-style: solid none none none;
  border: 1px #ddd;
  display: flex;
  justify-content: space-between;
}
.prev_next .next {
  text-align: right;
  text-decoration: none;
  color: #808080;
}
.prev_next .prev {
  text-decoration: none;
  color: #808080;
}
.posts .post-title {
  font-size: 1.5em;
  justify-content: center;
  display: flex;
}
.posts .post-title .post-title-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.posts .post-content {
  margin-bottom: 1em;
}
.posts .post-content a {
  color: #808080;
  text-decoration: underline;
}
.posts .post-content .More {
  padding: 1em 0;
}
.posts .post-meta {
  color: #bababa;
}
.archive {
  padding: 3% 5%;
  border: 1px #ddd;
  border-style: solid none none none;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #000;
  text-decoration: none;
}
