body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Noto Serif", Arial, "Source Han Serif SC", "Noto Serif CJK SC", "Noto Serif SC", "PingFang SC", "Heiti SC", "Noto Sans CJK SC", "Source Han Sans SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 800px;
  word-break: break-word;
}
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  }
}
.header {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
.header .blog-title .logo {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
  font-style: italic;
}
.header .blog-title {
  height: 26.5;
}
.header .menu {
  font-family: "Noto Serif", "Noto Serif SC";
  margin: 0 auto;
  vertical-align: text-top;
}
.header .menu .menu-item {
  display: inline-block;
  padding: 0.25em;
}
.header .menu .menu-item-link {
  color: #bababa;
  text-decoration: none;
  font-size: 1em;
}
.header .menu .menu-item-link:hover {
  color: #808080;
}
@media screen and (max-width: 667px) {
  .header .menu {
    padding-left: 0;
  }
  .header .blog-title .logo {
    font-style: unset;
  }
}
@media screen and (max-width: 667px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
.header-mobile-layout {
  display: flex;
  margin: 0 auto;
  padding: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-mobile-layout .blog-title .logo {
  font-family: 'Noto Serif', 'Noto Serif SC', serif;
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
}
.header-mobile-layout .blog-title {
  height: 26.5;
}
.header-mobile-layout .menu {
  font-family: "Noto Serif", "Noto Serif SC";
  margin: 0 auto;
  vertical-align: text-top;
  padding-left: 0;
}
.header-mobile-layout .menu .menu-item {
  display: inline-block;
  padding: 0.25em;
}
.header-mobile-layout .menu .menu-item-link {
  color: #bababa;
  text-decoration: none;
  font-size: 1em;
}
.header-mobile-layout .menu .menu-item-link:hover {
  color: #808080;
}
.post {
  padding: 1.5em 2em;
  border: 1px #ddd;
  border-style: solid none;
}
.post h1.title {
  margin: 0;
  display: flex;
  justify-content: center;
}
.post h2 {
  font-size: 1.2em;
}
.post h3,
.post h4,
.post h5,
.post h6 {
  font-size: 1.1em;
}
.post a {
  color: #808080;
  text-decoration: underline;
}
.post ul {
  padding-left: 30px;
}
.post ol {
  padding-left: 20px;
}
.post blockquote {
  border-left: 2px solid #616161;
  padding-left: 20px;
  margin: 1rem 0;
}
.post code,
.post pre {
  font-size: 16px;
  background-color: #f7f7f7;
  font-family: 'Fantasque Sans Mono', 'PT Mono', 'Source Code Pro', monospace;
}
.post .highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 2px;
  line-height: 1.1em;
  background-color: #f8f8f8;
  overflow-x: auto;
}
.post .highlight table,
.post .highlight tr,
.post .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}
.post .highlight .gutter {
/*padding-left: 10px;
    width: 10px;*/
  display: none;
}
.post .highlight .code pre {
  padding: 0.8em;
  line-height: 1em;
  margin: 0;
}
.post .highlight .code pre .line {
  width: auto;
  height: 18px;
}
.post pre {
  color: #525252;
}
@media screen and (max-width: 320px) {
  .post {
    padding: 30px 16px;
  }
}
.prev_next {
  padding: 1em;
  margin: 1em;
  border-style: solid none none none;
  border: 1px #ddd;
  display: flex;
  justify-content: space-between;
}
.prev_next .next {
  text-align: right;
  text-decoration: none;
  color: #808080;
}
.prev_next .prev {
  text-decoration: none;
  color: #808080;
}
.comments {
  padding-bottom: 1em;
}
.posts .post-title {
  font-size: 1.5em;
  justify-content: center;
  display: flex;
}
.posts .post-title .post-title-link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.posts .post-content {
  margin-bottom: 1em;
}
.posts .post-content a {
  color: #808080;
  text-decoration: underline;
}
.posts .post-content .More {
  padding: 1em 0;
}
.posts .post-meta {
  color: #bababa;
}
.archive {
  padding: 3% 5%;
  border: 1px #ddd;
  border-style: solid none none none;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #000;
  text-decoration: none;
}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
main {
  display: block;
}
h1 {
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
